body {
	font-family: 'Expletus Sans', normal;
	color: #222;
	background-color: #4C5764;
}

a {
	text-decoration: none;
	color: #45B7AF;
}
li a:hover {
	color: #54C96C;
}

#content {
	width: 960px;
	height: 450px;
	margin-left: auto;
	margin-right: auto;
}

#header {
	width: 960px;
	height: 90px;
}

#logo {
	float: left;
	padding: 10px;
}
#logo h1 {
	font-weight: bold;
	font-size: 30px;
	color: #B2DA59;
	margin: 0 0 -5px 0;
}
#logo h2 {
	font-weight: bold;
	font-size: 19px;
	color: #C7F464;
	margin: 0px;
}

.filler {
	float: left;
	width: 100%;
}

#menu {
	float: left;
	padding: 10px;
	margin-top: 10px;
}

#sections {
	float: left;
	height: inherit;
	padding: 10px 6px;
}

#sections ul {
	list-style: none;
	height: inherit;
	margin: 0px;
	padding: 0px;
}

#sections ul li {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: -4px;
}

#pagenumber {
	background-color: #272822;
	width: 30px;
	height: 484px;
	float: left;
	margin-right: 1px;
}

#visualization {
	border: 1px solid #333;
	margin-top: 20px;
	margin-bottom: 2px;
}

#code {
	width: 100%;
	font-family: 'Inconsolata', sans-serif;
	font-size: 16px;
	border: 1px solid #333;
}

#vertical-bar {
	float: left;
	width: 3px;
	height: 106px;
	margin-top: 13px;
	background-color: #45B7AF;
}

#main-column {
	display: block;
	float: left;
	width: 750px;
	margin-left: 40px;
	margin-top: 32px;
}

.wnd {
	display: block;
	float: left;
	width: 700px;
	background-color: #7D8690;
	text-align: center;
	box-shadow: 15px 15px 0 0 #414A54;
}

.wnd-hdr {
	float: left;
	width: 100%;
	height: 30px;
}

.wnd-hdr-part {
	float: left;
	width: 20%;
	height: inherit;
}

.wnd-content {
	width: 94%;
	margin: 0 auto;
	padding: 20px 3%;
	display: inline-block;
}

.lighter-green {
	background-color: #C7F464;
}

.light-green {
	background-color: #96E467;
}

.mid-green {
	background-color: #54C96C;
}

.dark-green {
	background-color: #4AC084;
}

.darker-green {
	background-color: #45B7AF;
}

.darker-blue {
	background-color: #4C5764;
}

.darkest-blue {
	background-color: #414A54;
}

.demo-prev {
	height: 100px;
	width: 100%;
	margin: 0 0 20px 0;
}

.demo-prev-title {
	width: 36%;
	height: 100%;
	float: left;
}

.demo-prev-title-text {
	position: relative;
	margin: 0 auto;
	width: 100%;
	font-weight: bold;
	font-size: 18px;
	top: -62px;
	color: #C7F464;
}

.demo-prev-title-part {
	float: left;
	width: 50%;
	height: 100%;
}

.demo-prev-img {
	width: 64%;
	height: 100%;
	float: left;
	display: block;
	transition: opacity .25s ease-in-out;
		-moz-transition: opacity .25s ease-in-out;
		-webkit-transition: opacity .25s ease-in-out;
}
.demo-prev-img:hover {
	opacity: 0.5;
}

#demo-prev-1 {
	background-image: url('/img/demo-prev-01.png');
	background-size: 100% 100%;
}

#demo-prev-2 {
	background-image: url('/img/demo-prev-02.png');
	background-size: 100% 100%;
}

#demo-prev-3 {
	background-image: url('/img/demo-prev-03.png');
	background-size: 100% 100%;
}

.flnone {
	float: none;
}